node_modules
package-lock.json
dist
tmp
*/config/*
!*/config/default.yaml
/client/multi/configs/*
!/client/multi/configs/.gitkeep
node
node.exe
node-test.exe
webpack-client/packed
client/extra-local
/pack/sysmon-client
/pack/sysmon-server
/pack/include-client/config
/pack/include-server/config