.autocomplete-results {
  background: #ffffff;
  border: 1px solid #000000;
}

body{
  background-color: #ffffff;
  color: #000000;
}

.box-background{
    background-color: #bbbbbb;
}

.top-nav{
    background-color: #bbbbbb;
}

.top-nav a {
  color: #000000;
  border: 1px solid #000000;
}
  
.top-nav a:hover {
  background-color: #7171719e;
  border: 1px solid #000000;
  color: #ffffff;
}

.top-nav a.active {
  /* color: #ffffff;
  border: 1px solid #000000; */
}

.hamburger-menu div {
	/* background: linear-gradient(
		to bottom, 
		#000000, #000000 20%, 
		#bbbbbb 20%, #bbbbbb 40%, 
		#000000 40%, #000000 60%, 
		#bbbbbb 60%, #bbbbbb 80%, 
		#000000 80%, #000000 100%
    );
	border: 1px solid #bbbbbb; */
	background-color: #000000;
}

.menu-buttons {
	background-color: #bbbbbb;
}

.disconnected-popup{
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	border: solid 0.2em #c23b3b;
	background-color: #d76e6e;
	opacity: 0.85;
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	z-index: 10;
}

h1, p {
	margin: 1em;
}