.autocomplete-results {
  background: #ffffff;
  border: 1px solid #000000;
}

body{
  background-color: #ffffff;
  color: #000000;
}

.box-background{
    background-color: #bbbbbb;
}

.top-nav{
    background-color: #bbbbbb;
}

.top-nav a {
  color: #000000;
  border: 1px solid #000000;
}
  
.top-nav a:hover {
  background-color: #a600ff66;
  border: 1px solid #000000;
  color: #ffffff;
}

.top-nav a.active {
  color: #ffffff;
  border: 1px solid #000000;
}