.autocomplete-results {
	background: #383838;
	border: 1px solid #ffffff;
}

body{
	background-color: #000000;
	color: #ffffff;
}

.box-background{
	background-color: #383838;
}

.top-nav{
	background-color: #383838;
}

.top-nav a {
	color: #ffffff;
	border: 1px solid #ffffff;
}

.top-nav a:hover {
	background-color: #7171719e;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.hamburger-menu div {
	/* background: linear-gradient(
		to bottom, 
		#ffffff, #ffffff 20%, 
		#383838 20%, #383838 40%, 
		#ffffff 40%, #ffffff 60%, 
		#383838 60%, #383838 80%, 
		#ffffff 80%, #ffffff 100%
    );
	border: 1px solid #383838; */
	background-color: #ffffff;
}

.menu-buttons {
	background-color: #383838;
}

.search-icon {
	filter: invert(100%);
}
.top-nav a.active {
	/* color: #ffffff;
	border: 1px solid #ffffff; */
}