.autocomplete-results {
  background: #383838;
  border: 1px solid #ffffff;
}

body{
  background-color: #000000;
  color: #ffffff;
}

.box-background{
  background-color: #383838;
}

.top-nav{
  background-color: #383838;
}

.top-nav a {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.top-nav a:hover {
  background-color: #7171719e;
  border: 1px solid #ffffff;
  color: #ffffff;
}
  
.top-nav a.active {
  /* color: #ffffff;
  border: 1px solid #ffffff; */
}